<div class = "container-fluid, topPagesBackground">
  <h2>卒業論文をシェアしよう</h2>
  <h3>友達の興味を、卒業論文を通して知りましょう！<br>
  </h3>
  
  <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Facebookでログインする</a> 
</div>
  </p>
</div>