<div class = "container-fluid, topPagesBackground">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>卒業論文をシェアしよう</h2>
      <h3>友達の興味を、卒業論文を通して知りましょう！</h3>
      <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Facebookでログインする</a> 
    </div>
  </div>
</div>