<div class="row lp-1"> <!--- ランディングページ TOP lp1-------------------------------------->
  <div class="col-md-12 col-ms-12" style="text-align:center">
    <div class="message-large">Beyond Majors and Years</div>
    <div class="message-mid" style="margin:30px 0">メジャー・学年を超えた<br>アカデミックSNS</br></div>
    <a href="/auth/facebook" class="login-button" style="color:#ffffff">Facebookから今すぐログインする</a>
    <div style="text-align:center">あなたのフィードにこのアプリが勝手にポストすることはございません。</div>
  </div>
  
  
</div>
