<div class="row lp-1"> <!--- ランディングページ TOP lp1-------------------------------------->
  <div class="col-md-12 col-ms-12" style="text-align:center">
    <div class="message-large">Beyond Majors and Years</div>
    <div class="message-large" style="margin:30px 0">メジャー・学年を超えた<br>アカデミックSNS</br></div>
    <a href="/auth/facebook" class="login-button" style="color:#ffffff">Facebookから今すぐログインする</a>
  </div>
</div>

<div class="row"> <!--- ランディングページ TOP lp1-------------------------------------->
  <div class="col-md-12 col-ms-12" style="text-align:center;background-color:#FFFDF0;padding:100px 0">
    <div class="message-large"style="font-size:48px;color:#00B0BC">CurioCityとは</div>
    <div  style="margin:30px 0;font-size:36px;" >同じ興味・関心の人に出会える</br>アカデミックなプラットフォームです。</div>
    <div style="padding:10px 0">「何をどう学べばいいかだれかに聞きたい」「興味・関心が近い人に出会う場所がない」<br>CurioCityは、メジャー・学年を超えて、興味関心が近い人たちをつなげます。</div>
    <%= image_tag 'curiocityimage.png',style: :"width:auto;height:300px"%>
  </div>
  
  
</div>

<div class="row" style="padding:100px 0" id="user_profile"> <!-- 3つの特徴 -->
  
  <div class="col-md-12 col-ms-12" style="text-align:center">
    <div style="font-size:48px;color:#00B0BC">CurioCityでできること</div> <!-- タイトル -->
  </div>
  
  <div class="col-md-12" style="text-align:center">　<!-- FIND -->
    <div><i class="fa fa-search icon-large" aria-hidden="true" style="font-size:48px;color:#00B0BC"></i></div>
    <div class="icon-title" style="font-size:48px;color:#00B0BC">Find</div>
    <div class="icon-description" style="margin:30px 0;font-size:24px;">自分の興味・関心に近いユーザー、論文をメジャー別に探そう</div>
    <%= image_tag 'findthesis.gif',style: :"width:auto;height:400px"%>
  </div>
  
  <div class="col-md-12" style="text-align:center" style="margin:20px 0">
    <div><i class="fa fa-users icon-large" aria-hidden="true" style="margin:30px;font-size:48px;color:#00B0BC"></i></div>    
    <div class="icon-title" style="font-size:48px;color:#00B0BC">Interact</div>
    <div class="icon-description" style="margin:30px 0;font-size:24px;">論文や質問を投稿したり、コメントしたり、自分の質問、論文にコメントをもらおう</div>
    <%= image_tag 'post.gif',style: :"width:auto;height:400px"%>
  </div>
  
  <div class="col-md-12" style="text-align:center">
    <i class="fa fa-envelope-open-o icon-large" aria-hidden="true" style="margin:30px 0;font-size:24px;color:#00B0BC"></i>
    <div class="icon-title" style="margin:30px 0; font-size:48px; color:#00B0BC">Connect</div>
     <div class="icon-description"  style="margin:30px 0;font-size:24px;">プロフィールを充実させて、興味のある人につながろう</div>
       
     <%= image_tag 'curiocityimage.png',style: :"width:auto;height:400px"%>
      <div><a href="/auth/facebook" class="login-button" style="color:#ffffff">Facebookから今すぐログインする</a></div>

  </div>
  
</div>   <!-- 3つの特徴 -->
 
</div>
  
  
  
  
  
  
</div>

