<div class="row lp-1"> <!--- ランディングページ TOP lp1-------------------------------------->
  <div class="col-md-12 col-ms-12" style="text-align:center">
    <div class="message-large">あなたの<br>「興味」からつながろう</div>
    <div class="message-mid" style="margin:30px 0">高校生から社会人までが利用する<br>卒論SNS</div>
    <a href="/auth/facebook" class="login-button" style="color:#ffffff">Facebookから今すぐログインする</a>
  </div>
</div>

<div class="row lp-2 "><!---説明ページ TOP lp2-------------------------------------->
  <div class="col-sm-12 col-md-4" style="text-align:center">
    <div class="icon"><i class="fa fa-search fa-5x" aria-hidden="true"></i></div>
    <div class="lp2-mid green">あってみたい人を見つけよう</div>
    <div class="message-short">専攻からテーマ別に探して、興味のある卒論や、興味深い人を探しましょう</div>
    <div class="lp2-image">
      <%= image_tag 'image1.JPG', :size => "350x350" %>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4" style="text-align:center">
    <div class="icon"><i class="fa fa-envelope-open-o fa-5x" aria-hidden="true"></i></i></div>
    <div class="lp2-mid green">コンタクトリクエストを送ろう</div>
    <div class="message-short">話してみたい人がいたら、コンタクトリクエストを送りましょう。
    相手が承認したら連絡が取れるようになります。</div>
    <div class="lp2-image">
      <%= image_tag 'contactform.JPG', :size => "350x350" %>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4" style="text-align:center">
    <div class="icon"><i class="fa fa-users fa-5x" aria-hidden="true"></i></div>
    <div class="lp2-mid green">面白い人に出会おう！</div>
    <div class="message-short">
      コンタクトリクエストが承認されたら本名とプロフィールが共有されます
      。メッセンジャーで連絡を取ってみましょう。
    </div>
    <div class="lp2-image">
      <%= image_tag 'friends.JPG', :size => "350x350" %>
    </div>
  </div>  
  
</div> 

<div class="row lp4" style="text-align:center"> <!-- 卒論はあなたの個性 -->
  <div class="col-md-6 col-ms-12 fullimage" id="lp4-image">
    
  </div>
  
  <div class="col-md-6 col-ms-12 fullimage" id="lp4-disc">
    <div class="lp4-mid green" >卒論をいつでもどこでも<br>あなたのパソコンから</div>
    <div class="message-short">
      普段取り扱いが面倒くさい卒業論文。卒論Shareなら、オンラインで、いつでもどこでも卒論を共有できます。
      他大学の卒業論文も見ることができます。卒論はPDF形式で確認できます。気になる論文はクリップして、後で一覧することができます。
    </div>
  </div>
</div>

<div class="row lp5" style="text-align:center">
  <div class="col-md-6 col-ms-12 fullimage">
    <div class="lp5-mid green">「興味」で<br>いろんな人とつながろう</div>
    <div class="message-short">
      「この分野、あんまり詳しくないけど興味あるなあ」<br><br>そんな時は、違う分野で興味がある卒論を読んで、コンタクトをとってみましょう。<br><br>
      「卒論、どうしよう、何勉強したらいいかな・・・」<br>
      卒論を書いていなくても大丈夫！今まで書いたレポートでかまいません。すでに卒論を書いている人にコンタクトリクエストを送って、アドバイスをもらうことができますし
      「プロフィール」に興味関心を書けば、同じ学問を学んでいる先輩がコンタクトしてくれるかも。<br><br>
      「なんかめっちゃオタクな奴と話したい！・・・・」<br>
      卒論の中にあふれるオタク性から、あなたが気になる人にコンタクトを送ってみましょう。
    </div>
  </div>

  <div class="col-md-6 col-ms-12 fullimage" id="lp5-image">
  </div>
</div>

<div class="row lp3" style="text-align:center">
  <div class="col-md-12 col-ms-12">
    <div class="login-button" style=" color:#FFFFFF;"><a href="/auth/facebook" style=" color:#FFFFFF;">Facebookから今すぐログインする</a></div>
  </div>
</div>
