<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @current_username %>さんがコメントしました<br>卒論Shareにログインして確認してみましょう</p>
    <a href = "www.curiocity.tech">ログイン<a/>
    </p>
  </body>
</html>