<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h2><%= @name %>さんがコンタクトリクエストを承認しました</h2>
    <div>ログインして<%= link_to "こちら",root_path %>から確認してみましょう。</div>
    </p>
  </body>
</html>