<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h2><%= @name %>さんがコンタクトリクエストを承認しました</h2>
    <div><%= link_to "こちら",friends_user_path(@current_user) %></div>
    </p>
  </body>
</html>