<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @current_user.username %>さんからコメントが届きました<br>
      <br>
      確認してみましょう！
    </p>
    <p>CurioCityにログインして確認してみましょう</p>
    <a href = "radiant-citadel-12975.herokuapp.com">ログイン<a/>
    </p>
  </body>
</html>