<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @current_user.username %>さんから質問へのコメントが届きました<br>
      <br>
    </p>
    <p>CurioCityにログインして確認してみましょう</p>
    <a href = "www.curiocity.tech">ログイン<a/>
    </p>
  </body>
</html>