<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @current_username %>さんからコンタクト・リクエストが届きました<br>
      リクエストを承認すると、実名と写真がコンタクトリストから見ることができます。<br>
    </p>
    <p><a href ="www.curiocity.tech">CurioCity</a>にログインして確認してみましょう</p>
  </body>
</html>