<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @current_username %>さんからコンタクト・リクエストが届きました<br>
      リクエストを承認すると、実名と写真がコンタクトリストから見ることができます。<br>
      承認しましょう]
    </p>
    <p>卒論Shareにログインして確認してみましょう</p>
    <a href = "radiant-citadel-12975.herokuapp.com">ログイン<a/>
    </p>
  </body>
</html>