<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      <%= @current_username %>さんからコンタクト・リクエストが届きました<br>
      リクエストを承認すると、実名と写真がコンタクトリストから見ることができます。<br>
    </p>
    <p>CurioCityに<%= link_to friends_user_path(@current_user) do %>ログイン<% end %>して確認してみましょう</p>
    </p>
  </body>
</html>