<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h2><%= @current_user %>から友達リクエストが届きました。</h2>
    <div><%= link_to "こちら",friends_user_path(@current_user) %></div>
    </p>
  </body>
</html>