/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import"bootstrap";
@import "font-awesome";



*{
    font-family:arial;
    font-size:18px;
}

.title{
    font-family: "Nico Moji";
}

.nav{
 font-size:20px;   
}

.user_profile{
    height:auto;
    margin-top:10px;
}

h2{
    color:4b77be;
}

h3{
    padding-top:20px;
    border-top:solid #e0e0e0 1px;
}


.container {
    
    line-height:24px;
    font-size:16px;
}

.content{
    background-color:#F0F0F0;
}

.topPagesBackground{
    background-image:image-url("students.gif");
    height:600px;
    text-align:center;
    color:white;
    padding-top:200px;
}