/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import"bootstrap";
@import "font-awesome";

/* ***************** Common CSS ******************/
*{
    font-family:arial;
    font-size:18px;
}
a:link{
    text-decoration:none;
    color : #000000;
}
a:visited{
    text-decoration:none;
    color : #000000;
}


body{
    max-width:100%;
    background-color:#e9ebee;
}
/* ***************** HEADER + NAVBAR ******************/

#nav-all{
    background-color:#00B0BC;
    font-size:30px;
    text-decoration:none;
}

#nav-all a:link{
    text-decoration:none;
    color : #000000;
}

#nav-all ul li{
    text-decoration:none;
}
/* ***************** HOME lp1 ******************/
.lp-1{
    padding:200px 0;
    background-image:image-url("students.gif");
    background-repeat:no-repeat;
    background-size:cover;
    
}
.message-large{
 font-size:42px;  
 color:#FFFFFF;
}
.message-mid{
    font-size:25px;
    color:#D3D3D3;
}
.login-button{
    background-color:#46639F;
    color:#FFFFFF;
    text-decoration:none;
    padding:20px;
    margin:5px 0;
    text-align:center;
    display:inline-block;
}
/* ***************** HOME lp2 ******************/
.lp-2{
     padding:160px 0;
}
.lp2-mid{
    font-size:25px;
}
.icon{
    padding:30px 0;
}
.message-short{
    margin-top:20px;
}
.lp2-image{
    padding:40px 0;
}




/* ***************** NOTICE-BOX @application.html.erb ******************/

.notice-box{
    margin-top:25px;
}
/* ***************** TABBAR SETTING @application.html.erb ******************/

#search_box{
    background-color:#ffffff;
    padding:40px 20px 20px 20px;
    margin-bottom:60px;
} 


/****** USER PROFILE @index.html.erb ***********************/

.profile-header{
    text-decoration:none;
    font-size:24px;
    color:#00B0BC;
    padding:10px;
    margin-bottom:20px;
}

.profile-header a:link{
    text-decoration:none;
    font-size:30px;
    color:#00B0BC;
}

.profile-header a:visited{
    text-decoration:none;
    font-size:30px;
    color:#00B0BC;
}

#user_profile{
    padding:10px;
    background-color:#FFFFFF;
    margin-top:40px;
}

.profile-left{
    padding:10px 0;
    border-bottom:1px solid #eee;
}


.profile-right{
    padding:10px 10px 40px 10px;
    margin-bottom:10px;
    height:auto;
    background-color:#F6F7F9;
}

.clipped{
    background-color:#FECE26;
    text-align:center;
    padding:5px 10px;
}
.clip-button-small{
    background-color:#FECE26;
    color:#6D4D00;
    text-decoration:none;
    padding:5px 10px;
    margin:5px 0;
    text-align:center;
    display:block;
}

.clip-button{
    background-color:#FECE26;
    color:#6D4D00;
    font-size:16px;
    text-decoration:none;
    padding:0 10px;
    margin:20px 0;
    text-align:center;
    border-radius:10px 10px 10px10px;
    display:block;
}
.clip-button a:link{
    text-decoration:none;
    color : #000000;
}
.clip-button a:visited {
    text-decoration:none; 
    color : #000000;
}
.clip-button a:hover {
    background-color:blue;
}

.request-button-small{
    background-color:#46639F;
    color:#FBFFFF;
    text-decoration:none;
    padding:5px 5px;
    margin:5px 0;
    text-align:center;
    display:block;
}


/********detail @show.html.erb ***********************/

.detail-abstract{
    padding:10px 10px 40px 10px;
    height:auto;
    background-color:#eee;
}

/********detail @show.html.erb ***********************/
h3{
    padding-top:20px;
    border-top:solid #e0e0e0 1px;
}

.content{
    background-color:#F0F0F0;
}

.topPagesBackground{
    background-image:image-url("students.gif");
    height:600px;
    text-align:center;
    color:white;
    padding-top:200px;
}