/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import"bootstrap";
@import "font-awesome";

/* ***************** Common CSS ******************/
*{
    font-family:arial;
    font-size:18px;
}

body{
    max-width:100%;
}
/* ***************** HEADER + NAVBAR ******************/
.nav{
 font-size:40px;   
}
#nav-all{
    background-color:#33cccc;
}

/* ***************** TABBAR SETTING @application.html.erb ******************/

#search_box{
    background-color:#ffe6b3;
    padding:20px 0;
  
} 


/****** USER PROFILE @index.html.erb ***********************/
#user_profile{
    height:auto;
    padding:10px;
    background-color:#ffff99;
    border:1px solid #eee;
    margin-bottom:10px;
    margin-top:10px;
}
h2 #profile-header{
    margin-bottom:30px;
    font-size:40px;
}
.profile-left{
    padding-bottom:5px;
    border-bottom:1px solid #eee;
}
#profile-abstract{
    padding:10px 10px 40px 10px;
    height:auto;
    background-color:#eee;
}
.clip-button{
    background-color:blue;
    color:white;
    padding:5px;
    margin:20px 0;
    text-align:center;
}

/********detail @show.html.erb ***********************/

.detail-abstract{
    padding:10px 10px 40px 10px;
    height:auto;
    background-color:#eee;
}

/********detail @show.html.erb ***********************/

h2{
    color:4b77be;
}

h3{
    padding-top:20px;
    border-top:solid #e0e0e0 1px;
}

.content{
    background-color:#F0F0F0;
}

.topPagesBackground{
    background-image:image-url("students.gif");
    height:600px;
    text-align:center;
    color:white;
    padding-top:200px;
}